{% extends 'base.html' %}
{% load static %}
{% block title %}Admin{% endblock %}
{% block content %}
    <div class="content">
        <div class="msg-form-control-api">
            {% if msg_status %}
                {% if process_api_on %}
                    <script src="{% static 'animations_api_on.js' %}"></script>
                {% endif %}
                {% if process_api_off %}
                    <script src="{% static 'animations_api_off.js' %}"></script>
                {% endif %}
            {% endif %}
            <span class="msg-control-status-api">
                <p class="msg-control-success-start"> API - Iniciada </p>
                <p class="msg-control-error-start"> Erro - Iniciar API </p>
                <p class="msg-control-save-sucess"> Alterações Salvas - Status: OFF </p>
            </span>
        </div>
        <div class="form-config-estrategias">
            <div class="content-form">
                <div class="block-user-form">
                    <div class="block-login">
                        <h1>Autenticação IQ Option</h1>
                    </div>
                </div>

                <form action="{% url 'autenticacao_iqoption' %}" id="form-config-admin-auth">
                    <!-- onchange="alterSelectInputs(event);" -->
                    {% csrf_token %}
                    <div class="form-control-api">
                        <p>Status API:</p>
                        <span class="control-status-api">
                            <select name="status-api" id="status-api" class="{{ status_api }}">
                                <option value="0">Desligada</option>
                                <option value="1">Ligada</option>
                            </select> 
                        </span>
                    </div>
                    <div class="block-input-credencials-user-iqoption">
                        <div class="inputs-credencials-user-iqoption">
                            <label for="username-iqoption">Usuário</label>
                            <input type="email" name="username-iqoption" id="username-iqoption" value="{{ email }}" placeholder="email..." required>
                        </div>
                        <div class="inputs-credencials-user-iqoption-password">
                            <label for="password-iqoption">Senha</label>
                            <input type="password" name="password-iqoption" id="password-iqoption" value="{{ password }}" placeholder="senha..." required>
                            <div class="icons-password">
                                <i class="fa-solid fa-lock" onclick="show_password(event);"></i>
                            </div>
                            <!-- <i class="fa-solid fa-unlock"></i> -->
                        </div>
                        <div class="alert-input-password">
                            <p>Para manter a segurança da sua conta IQ Option apenas o email será salvo no banco de dados.</p>
                        </div>
                    </div>
                    <div class="btn-control-api">
                        <input type="submit" value="Salvar" id="save-form-control-api" onclick="controlAPI_process();">
                    </div> 
                </form>
            </div>
        </div>
        <div class="instrucoes-start-stop-api ">
            <div class="content-instrucoes">
                <p> 1 - Para <span class="destaque-intrucao"> ativar </span> a API é necessário informar o <span class="destaque-intrucao"> usuário </span> e <span class="destaque-intrucao"> senha </span> da conta IQ Option (senha com no mínimo 5 caracteres).</p>
                <p> 2 - Para <span class="destaque-intrucao"> desativar </span> a API basta informar o <span class="destaque-intrucao"> usuário </span> da conta IQ Option (é solicitado o preenchimento de qualquer senha para segurança da ação).</p>
                <p> 3 - Aguarde e notificação no canto superior direito da tela com a confirmação da ação desejada.</p>
                <img src="{% static 'start-stop-api.gif' %}" alt="">
            </div>
        </div>
    </div>
    <script>
        function controlAPI_process(){
            controlAPI("{% url 'start_api' %}", "{% url 'stop_api' %}")
        }
    </script>
    <script src="{% static 'control_api.js' %}"></script>
{% endblock %}