{% extends 'base.html' %}
{% load static %}
{% block title %}Visão Geral - Configurações{% endblock %}
{% block content %}
    <div class="content">
        <div class="mensagens-status-acoes">
            <p class="salvado-registro">salvando...</p>
            <p class="success-registro-salvo">alterações salvas</p>
            <p class="error-registro-salvo">error ao salvar</p>
            <!-- <button onclick="testeBTN();">Teste BTN</button> -->
        </div>
        <div class="filtros-visao-geral-config">
            <button value="estrategia_1" class="btn-estrategia_1" onclick="filtroEstrategiaVisaoGeral(event);">Estratégia 1</button>
            <button value="estrategia_2" class="btn-estrategia_2" onclick="filtroEstrategiaVisaoGeral(event);">Estratégia 2</button>
            <button value="estrategia_3" class="btn-estrategia_3" onclick="filtroEstrategiaVisaoGeral(event);">Estratégia 3</button>
            <button value="estrategia_4" class="btn-estrategia_4" onclick="filtroEstrategiaVisaoGeral(event);">Estratégia 4</button>
            <button value="estrategia_5" class="btn-estrategia_5" onclick="filtroEstrategiaVisaoGeral(event);">Estratégia 5</button>
            <button value="estrategia_6" class="btn-estrategia_6" onclick="filtroEstrategiaVisaoGeral(event);">Estratégia 6</button>
        </div>
        <div class="block-table-config-visao-geral">
            <table>
                <thead>
                    <tr>
                        <th>Ativo</th>
                        <th>Candles M5</th>
                        <th>SUP/RES - M15</th>
                        <th>SUP/RES - 1H</th>
                        <th>SUP/RES - 4H</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="{% static 'script_dash_config_visao_geral.js' %}"></script>
    <script defer>
        createDashboardConfigVisaoGeral("{% url 'config_visao_geral' %}", "estrategia_1");
        function filtroEstrategiaVisaoGeral(event) {
            let estrategia = event.target.value;
            createDashboardConfigVisaoGeral("{% url 'config_visao_geral' %}", estrategia);
        }
        function edit_registro(event) {
            // edit_config_visao_geral
            saveConfig("{% url 'edit_config_visao_geral' %}", event);
        }
    </script>
    
{% endblock %}