{% extends 'base.html' %}
{% block title %}Instruções - Painel{% endblock %}
{% load static %}
{% block content %}

    <div class="content">
        <div class="content-instrucoes-painel">
            <span class="block-instrucoes-title">
                <h3>Configurações</h3>
                <div class="icone-intrucoes">
                    <img src="{% static 'icon-down.png' %}" alt="">
                </div>
                <div class="icone-intrucoes">
                    <img src="{% static 'icon-up.png' %}" alt="">
                </div>
            </span>
            <div class="block-intrucoes-content">
                <div class="content-intrucoes">
                    <p>1 - Selecione uma estratégia</p>
                    <p>2 - Selecione uma paridade</p>
                    <p>clique em "Buscar"</p>
                    <p>será retornado a quantidade de candles para analisar as estratégias de M5:</p>
                    <div>
                        <p> - suporte e resistêcia de M15;</p>
                        <p> - suporte e resistêcia de 1H;</p>
                        <p> - suporte e resistêcia de 4H;</p>
                    </div>
                    <div>
                        <p>caso seja necessário alterar algum valor, edite o valor desejado e salve as alterações.</p>
                        <p>aguarde a mensagem de alterações salvas.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}