{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="content">
        
        {% if user.is_authenticated %}
            <span>
                <p>Deseja sair?</p>
                <a href="{% url 'logout_user' %}">Sair</a>
            </span>
        {% else %}
        <div class="content-form-home">
            <div class="content-form">
                <div class="block-user-form">
                    <div class="block-login">
                        <h1>Login</h1>
                    </div>
                    <div class="block-register">
                        <a href="{% url 'register_user_admin' %}">Registre-se</a>
                    </div>
                </div>
                <form action="{% url 'login_admin' %}" id="form-login" method="POST">
                    {% csrf_token %}
                    <div class="inputs-forms">
                        <label for="email_user">Usuário</label>
                        <input type="text" name="email_user" id="email_user" value="{{ email }}" placeholder="usuário..." required>
                    </div>
                    <div class="inputs-forms">
                        <label for="">Senha</label>
                        <input type="password" name="password_user" id="password_user" value="{{ password }}" placeholder="senha..." required>
                    </div>
                    <div class="btn-form">
                        <input type="submit" value="Entrar" id="btn-form-login" onclick="animation_btn_form(event);">
                        <div class="content-animation-btn-form">
                            <div class="animation_btn_login">
                            </div>
                        </div>
                    </div>
                    <div class="msg-error-form-register">
                        {% if user_unavailable %}
                            <p>Usuário ou senha inválidos.</p>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}