{% extends 'base.html' %}
{% block title %}Registro{% endblock %}
{% block content %}
    <div class="content">
        
        <div class="content-form-home">
            <div class="content-form">
                <div class="block-user-form">
                    <div class="block-login">
                        <h1>Registro</h1>
                    </div>
                    <div class="block-register">
                        <a href="{% url 'login_admin' %}">Login</a>
                    </div>
                </div>
                <form action="{% url 'register_user_admin' %}" id="form-login" method="POST">
                    {% csrf_token %}
                    <div class="inputs-forms">
                        <label for="username">Usuário</label>
                        <input type="text" name="username" id="username" value="{{ username }}" placeholder="usuário..." required>
                    </div>
                    <div class="inputs-forms">
                        <label for="email_user">Email</label>
                        <input type="text" name="email_user" id="email_user" value="{{ email }}" placeholder="email..." required>
                    </div>
                    <div class="inputs-forms">
                        <label for="password_user">Senha</label>
                        <input type="password" name="password_user" id="password_user" value="{{ password_user }}" placeholder="senha..." required>
                    </div>
                    <div class="inputs-forms">
                        <label for="password_user_2">Confirme sua senha</label>
                        <input type="password" name="password_user_2" id="password_user_2" value="{{ password__user_2 }}" placeholder="senha..." required>
                    </div>
                    {% if password_error %}
                    <div class="msg-error-form-register">
                        <p>As senhas informadas são difetentes.</p>
                    </div>
                    {% endif %}
                    {% if password_error_tam %}
                    <div class="msg-error-form-register">
                        <p>A senha deve conter no mínimo 5 caracteres.</p>
                    </div>
                    {% endif %}
                    {% if user_unavailable %}
                    <div class="msg-error-form-register">
                        <p>Este usuário ou email já existe.</p>
                    </div>
                    {% endif %}
                    <div class="btn-form">
                        <input type="submit" value="Criar Conta" id="btn-form-login" onclick="animation_btn_form(event);">
                        <div class="content-animation-btn-form">
                            <div class="animation_btn_login">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}