.dashboard-visao-geral {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dashboard-visao-geral-resultados-paridades-dash-1,
.dashboard-visao-geral-resultados-paridades-dash-2 {
    width: 100%;
    height: 650px;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background: #d1c4d3; */
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 10px;
}
.dashboard-visao-geral-resultados-paridades-dash-1 canvas,
.dashboard-visao-geral-resultados-paridades-dash-2 canvas {
    /* width: 100% !important;
    height: 550px !important; */
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--box-shadow-2);
    padding: 17px;
}


/* ----------------------------------------- */
.container-dashboard {
    width: 1200px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0px;
    box-shadow: var(--box-shadow-1);
}

.observer-data-off {
    display: none !important;
}
.observer-data-on {
    display: flex !important;
}