.instrucoes-start-stop-api {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 29px;
    box-sizing: content-box;
}
.content-instrucoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-instrucoes p {
    width: 100%;
    border-bottom: 1px solid #c3b1b1;
    margin: 21px 0px;
    padding: 10px;
    text-align: left;
    font-size: 19px;
    font-weight: 600;
}
.content-instrucoes img {
    object-fit: cover;
    width: 100%;
}
.destaque-intrucao  {
    color: var(--color-base-1);
}
.border-erro-input {
    border: 1px solid #f10000;
}
.border-success-input {
    border: 1px solid #1eff00;
}
.icons-password {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    float: right;
    right: 0px;
}
.icons-password i {
    position: absolute;
    right: 105px;
    cursor: pointer;
    font-size: 20px;
    color: var(--color-base-1);
}
.tabela-operacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #c3b1b1;
    margin: 36px 0px;
    font-weight: 600;
}
.tabela-operacoes h3 {
    color: var(--color-base-1);
    margin: 25px 0;
}
.tabela-operacoes table {
    width: 600px;
}
.tabela-operacoes table tbody tr td {
    text-align: center;
    padding: 12px;
    border: 1px solid #d9cfcf;
    border-radius: 5px;
}