@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,400&display=swap');

:root {
    --color-base-1: #6100fd;
    --color-dark-0: #312938c1;
    --color-dark-1: #312938;
    --color-white-1: #f7f4e0;

    --box-shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --box-shadow-2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow: scroll;
    overflow-x: hidden;
}
body::-webkit-scrollbar,
select::-webkit-scrollbar {
    width: 3px;
    background-color: #b4bdc5;
}
body::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
    background-color: var(--color-base-1);
}

.content {
    margin-top: 20px;
}

/* NAVBAR */
.content-navbar-fixed {
    position: sticky;
    top: 0;
    z-index: 1;
}
.container-navbar {
    width: 100%;
    height: 65px;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: var(--box-shadow-1);
    background: var(--color-white-1);
}
.content-logo {
    width: 160px;
    height: auto;
    box-sizing: border-box;
    background-color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.content-logo img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.content-navbar nav ul a,
.content-navbar nav ul,
.content-area-user ul {
    list-style: none;
    text-decoration: none;
}
.content-navbar nav ul,
.content-area-user ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content-navbar nav ul li,
.content-area-user ul li {
   margin: 0px 10px;
}
.content-navbar {
    width: 60%;
}
.content-area-user {
    width: 20%;
}

.content-navbar nav ul li a,
.content-area-user ul li {
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--color-dark-1);
    font-weight: 600;
}

.btn-logout {
    padding: 3px 7px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #fd0202;
}
.btn-logout:hover {
    transition: .4s;
    color: var(--color-white-1);
    background-color: #fd0202;
}


.content-navbar a:hover {
    transition: .5s;
    color: var(--color-base-1);
}
/* FORMS */
.form-login,
.content-form,
.form-config-estrategias {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-config-estrategias {
    flex-direction: row;
}
.content-form {
    width: 600px;
}
.content-form-home {
    /* width: 950px; */
    min-height: 545px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-form,  .content-form-home {
    border-radius: 5px;
    background-color: rgb(233 243 234);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-login, .form-config-estrategias {
    width: 100%;
    height: auto;
    margin: 30px 0px;
    flex-wrap: wrap;
}



.block-user-form {
    width: 100%;
    height: 85px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #FFF;
    background-color: var(--color-base-1);
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 9px;
}
.block-register a,
.block-register input {
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 600;
    font-size: 19px;
    border-radius: 5px;
    padding: 3px 5px;
    text-decoration: none;
    color: var(--color-dark-1);
    background-color: var(--color-white-1);
}

.block-register a:hover,
.block-register input:hover {
    transition: 0.4s;
    background-color: var(--color-base-1) !important;
}
.block-register a:hover {
    color: var(--color-white-1);
    border: 1px solid var(--color-white-1);
}
.form-login form,
.form-config-estrategias form {
    padding: 10px;
    margin: 10px;
}
.form-login form {
    width: 420px;
}
.form-config-estrategias form {
    width: 500px;
}
.form-config-estrategias select {
    width: 100%;
    padding: 15px 5px;
    font-size: 19px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
}
.inputs-forms {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.inputs-forms label {
    position: relative;
    left: 6px;
    top: 10px;
    font-size: 19px;
    font-weight: 600;
}
.inputs-forms input {
    width: 100%;
    min-width: 330px;
    padding: 8px 10px;
    margin-top: 3px;
    margin-bottom: 8px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
}

.content-label {
    margin-top: 15px;
}

ul li a {
    text-decoration: none;
}
.area-register-navbar, .area-register-navbar a {
    color: var(--color-white-1) !important;
    background-color: var(--color-base-1);
    text-decoration: none;
}

/* NAVBAR CONFIG LINK */

.content-link-navbar, ul li {
    border: 1px solid;
    border-radius: 5px;
    padding: 0px 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
    border-color: transparent;
}
ul li:nth-child(3){
    width: 220px;
}
.content-link-navbar {
    border-color: var(--color-base-1);
    box-shadow: var(--box-shadow-1);
}

/* MSG ERROR FORM REGISTER */
.msg-error-form-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.msg-error-form-register p {
    color: #fd0202;
    font-weight: 600;
}
.btn-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-animation-btn-form {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 38px;
    margin: 3px 0px;
}
.btn-form input, .content-animation-btn-form {
    width: 100%;
    margin: 10px 5px;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    color: #FFF;
    font-weight: 600;
    border: 1px solid #ffffff;
    background-color: var(--color-base-1);
}
.btn-form input:hover {
    color: #FFF;
    background-color: var(--color-dark-1);
}
.animation_btn_login {
    width: 35px;
    height: 35px;
    border: 3px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: animation_btn_login 1s ease infinite;
}

@keyframes animation_btn_login {
    100% {
        /* transition: 1s; */
        transform: rotate(360deg);
    }
}
.content-status-estrategia {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content-status-estrategia input {
    width: 20px;
    height: 20px;
    accent-color: var(--color-base-1);
}
#input-qtd-candles-estrategia {
    width: 73px;
    height: 30px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 5px;
}
.content-status-estrategia label {
    color: var(--color-dark-1);
    font-size: 19px;
    font-weight: 600;
}

/* DIVISORES CONTEUDO */
.divisor-content {
    width: 100%;
    height: auto;
    border-top: 1px solid #d8d6df;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* FOOTER */
.container-footer {
    bottom: 0;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color-white-1);
    font-weight: 400;
    /* position: fixed; */
    background-color: var(--color-base-1);
}

.content-msg-sucess-save {
    position: absolute;
    float: right;
    width: 180px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
    right: 32px;
    top: 107px;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    background-color: #45fd02;
    border-radius: 10px;
}

/* MSG ERROR CONTROL API */
.msg-form-control-api {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    float: right;
    padding: 10px;
    width: 250px;
    font-size: 17px;
    font-weight: 600;
    top: 43px;
    border-radius: 5px;
}

.control-status-api {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.control-status-api select {
    width: 285px;
    text-align: center;
}

.msg-control-status-api {
    position: absolute;
    float: right;
    width: 300px;
    height: 40px;
    right: 5px;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #000;
    border-radius: 5px;
}
.msg-control-error-start,
.msg-control-success-start,
.msg-control-save-sucess {
    display: none;
    color: #f7f4e0;
}
/* FORM CONTROL API */
.form-control-api {
    width: 100%;
    gap: 36px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-base-1);
}

.container-btn-save-config-admin {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
#save-form-config {
    width: 350px;
    height: 45px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.form-control-api p {
    font-size: 18px;
    font-weight: 600;
}

.btn-status-api {
    width: 115px;
    height: 35px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
}

.btn-status-api-active {
    color: #312938;
    background-color: #45fd02;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

/* @keyframes animation_active_api {
    0% {
        box-shadow: ;
    }
} */
.btn-status-api-inactive {
    color: #ffffff;
    background-color: #fd0202;
}


/* BLOCK CREDENCIALS - USER IQOPTION */
.block-input-credencials-user-iqoption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs-credencials-user-iqoption {
    display: flex;
}
.inputs-credencials-user-iqoption-password {
    display: flex;
}
.inputs-credencials-user-iqoption,
.inputs-credencials-user-iqoption-password {
    /* display: flex; */
    flex-direction: row;
    width: 427px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    gap: 17px;
    margin: 10px 0px;
}
.inputs-credencials-user-iqoption label,
.inputs-credencials-user-iqoption-password label {
    font-size: 16px;
    font-weight: 600;
}
.inputs-credencials-user-iqoption input,
.inputs-credencials-user-iqoption-password input {
    width: 340px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn-control-api {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.btn-control-api input {
    width: 275px;
    height: 45px;
    border-radius: 5px;
    background-color: var(--color-base-1);
    color: var(--color-white-1);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

/* ALERTS */
.alert-input-password {
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
    color: var(--color-dark-1);
}
.alert-input-password p {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}



/* TABLE */
.table-results-base {
    width: 400px;
    height: 408px;
}
.table-results-base-geral {
    width: 100% !important;
    height: 450px;
}
.table-results-base, .table-results-base-geral {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* margin: 10px; */
    justify-content: flex-start;
    /* background: aliceblue; */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-y: scroll;
}
.table-results-base::-webkit-scrollbar,
.table-results-base-geral::-webkit-scrollbar {
    width: 3px;
    background-color: #b4bdc5;
}
.table-results-base::-webkit-scrollbar-thumb,
.table-results-base-geral::-webkit-scrollbar-thumb {
    background-color: var(--color-base-1);
}


.table-results-resume thead tr th {
    text-align: center;
    border-radius: 5px;
}
.table-results-resume tbody tr td {
    text-align: center;
    padding: 5px 2px;
    border-radius: 15px;
}

.table-results-resume thead tr {
    top: 0;
    position: sticky;
    border-radius: 5px;
    height: 29px !important;
    color: var(--color-white-1);
    background-color: var(--color-base-1);
}

/* FORMAT td */
.result-win,
.result-loss,
.result-empate,
.result-comum,
.direction-comum,
.direction-call,
.direction-put {
    border-radius: 5px;
    border: 5px solid var(--color-white-1);
}
.result-win,
.result-loss,
.result-empate,
.direction-comum,
.direction-call,
.direction-put {
    border-radius: 35px !important;
    font-weight: 600;
}
.result-comum {
    background-color: #fffef8;
    font-weight: 400;
}
.result-win, .direction-call {
    color: var(--color-dark-1) !important;
    background-color: #45fd02 !important;
}
.result-loss, .direction-put  {
    color: var(--color-white-1) !important;
    background-color: #fd0202 !important;
}
.result-empate, .direction-comum {
    color: var(--color-dark-1);
    background-color: #bfd2b8;
}
.table-results-resume tbody tr:hover td {
    /* transition: 0.4s; */
    font-weight: 600;
    color: var(--color-dark-1);
    background-color: #bdd8b5;
}