{% load static %}
<div class="content-navbar-fixed">
    <div class="container-navbar">
        <div class="content-logo">
            <img src="{% static 'logo.png' %}" alt="">
        </div>
        <div class="content-navbar">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li class="link-home">
                            <i class="fa-solid fa-house"></i>
                            <a href="{% url 'home' %}" class="link-navbar-home">Home</a>
                        </li>
                        <li class="link-autenticacao-iqoption">
                            <i class="fa-solid fa-shield-halved"></i>
                            <a href="{% url 'autenticacao_iqoption' %}" class="link-navbar-autenticacao-iqoption">Autenticações</a>
                        </li>
                        <li class="link-config-visao-geral">
                            <i class="fa-solid fa-gear"></i>
                            <a href="{% url 'config_visao_geral' %}" class="link-navbar-config-visao-geral">Visão Geral - Config.</a>
                        </li>
                        <li class="link-pre-analise">
                            <i class="fa-solid fa-chart-simple"></i>
                            <a href="{% url 'pre_analise' %}" class="link-navbar-pre-analise">Pré-Análise</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="content-area-user">
            {% if user.is_authenticated %}
                <ul>
                    <span>
                        <p>Olá,</p>
                        <p>{{ user.username }}</p>
                    </span>
                    <li>
                        <a href="{% url 'logout_user' %}" class="btn-logout">Sair</a>
                    </li>
                </ul>
            {% else %}
                <ul>
                    <li>
                        <a href="{% url 'login_admin' %}">Login</a>
                    </li>
                    <li class="area-register-navbar">
                        <a href="{% url 'register_user_admin' %}">Registro</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>